<<<<<<< HEAD

/* ===============================
   General Styling
================================ */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}


body{

    background:#f8f9fc;
    color:#333;

}

.first{
    padding: 40px;
    margin: 20px;
    background-color:#334155;
    color: white;
    text-align: center;
    border-radius: 30px;
}
.first h1{
    font-family: "Instrument Serif";
    text-shadow: 4px 4px 5px white;
}




.container-fluid{

    padding:25px;

}





/* ===============================
   Dashboard Header
================================ */


.dashboard-header{

    background:white;
    padding:25px;
    border-radius:18px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);

}


.dashboard-header h2{

    font-weight:700;
    color:#7c3aed;

}


.dashboard-header p{

    color:#777;
    margin-bottom:0;

}




.dashboard-header button{

    padding:12px 22px;
    border-radius:12px;
    background:#7c3aed;
    border:none;

}



.dashboard-header button:hover{

    background:#6d28d9;

}






/* ===============================
   Summary Cards
================================ */


.summary-card{


    background:white;
    height:120px;
    border-radius:18px;
    display:flex;
    align-items:center;
    gap:20px;
    padding:25px;

    box-shadow:
    0 8px 20px rgba(0,0,0,0.08);


    transition:0.3s;


}




.summary-card:hover{


    transform:translateY(-8px);

}




.summary-card i{


    font-size:40px;
    color:#7c3aed;

}



.summary-card h6{

    color:#777;
    font-size:14px;

}



.summary-card h3{

    font-weight:700;
    margin-top:5px;

}








/* ===============================
   Product Table
================================ */


.product-container{


    border:none;
    border-radius:18px;
    overflow:hidden;

    box-shadow:
    0 8px 25px rgba(0,0,0,0.08);

}



.card-header{


    background:white;
    border-bottom:1px solid #eee;
    padding:20px;


}



.card-header h5{


    color:#7c3aed;
    font-weight:700;

}





table{


    margin-bottom:0!important;

}



thead{


    background:#f3e8ff;

}



thead th{


    color:#6b21a8;
    font-size:14px;
    padding:15px;


}



tbody td{


    padding:15px;
    vertical-align:middle;

}



tbody tr{


    transition:0.3s;

}



tbody tr:hover{


    background:#faf5ff;

}





/* ===============================
   Status Badges
================================ */


.status-badge{


    padding:7px 15px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;

}



.available{


    background:#dcfce7;
    color:#15803d;

}



.low-stock{


    background:#fef3c7;
    color:#b45309;

}



.out-stock{


    background:#fee2e2;
    color:#b91c1c;

}






/* ===============================
   Modal Styling
================================ */


.modal-content{


    border:none;
    border-radius:20px;
    overflow:hidden;


}



.modal-header{


    background:#7c3aed;
    color:white;

}



.modal-header .btn-close{


    filter:brightness(0) invert(1);

}




.modal-body{


    padding:30px;

}



.form-control{


    border-radius:12px;
    padding:12px;

}



.form-control:focus{


    border-color:#7c3aed;
    box-shadow:0 0 0 0.2rem rgba(124,58,237,.15);

}





.modal-body button{


    background:#7c3aed;
    border:none;
    padding:12px;
    border-radius:12px;

}



.modal-body button:hover{


    background:#6d28d9;

}







/* ===============================
   Responsive Design
================================ */


@media(max-width:768px){


.dashboard-header{


    flex-direction:column;
    gap:20px;
    align-items:flex-start!important;

}



.summary-card{


    margin-bottom:15px;

}



=======

/* ===============================
   General Styling
================================ */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}


body{

    background:#f8f9fc;
    color:#333;

}

.first{
    padding: 40px;
    margin: 20px;
    background-color:#334155;
    color: white;
    text-align: center;
    border-radius: 30px;
}
.first h1{
    font-family: "Instrument Serif";
    text-shadow: 4px 4px 5px white;
}




.container-fluid{

    padding:25px;

}





/* ===============================
   Dashboard Header
================================ */


.dashboard-header{

    background:white;
    padding:25px;
    border-radius:18px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);

}


.dashboard-header h2{

    font-weight:700;
    color:#7c3aed;

}


.dashboard-header p{

    color:#777;
    margin-bottom:0;

}




.dashboard-header button{

    padding:12px 22px;
    border-radius:12px;
    background:#7c3aed;
    border:none;

}



.dashboard-header button:hover{

    background:#6d28d9;

}






/* ===============================
   Summary Cards
================================ */


.summary-card{


    background:white;
    height:120px;
    border-radius:18px;
    display:flex;
    align-items:center;
    gap:20px;
    padding:25px;

    box-shadow:
    0 8px 20px rgba(0,0,0,0.08);


    transition:0.3s;


}




.summary-card:hover{


    transform:translateY(-8px);

}




.summary-card i{


    font-size:40px;
    color:#7c3aed;

}



.summary-card h6{

    color:#777;
    font-size:14px;

}



.summary-card h3{

    font-weight:700;
    margin-top:5px;

}








/* ===============================
   Product Table
================================ */


.product-container{


    border:none;
    border-radius:18px;
    overflow:hidden;

    box-shadow:
    0 8px 25px rgba(0,0,0,0.08);

}



.card-header{


    background:white;
    border-bottom:1px solid #eee;
    padding:20px;


}



.card-header h5{


    color:#7c3aed;
    font-weight:700;

}





table{


    margin-bottom:0!important;

}



thead{


    background:#f3e8ff;

}



thead th{


    color:#6b21a8;
    font-size:14px;
    padding:15px;


}



tbody td{


    padding:15px;
    vertical-align:middle;

}



tbody tr{


    transition:0.3s;

}



tbody tr:hover{


    background:#faf5ff;

}





/* ===============================
   Status Badges
================================ */


.status-badge{


    padding:7px 15px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;

}



.available{


    background:#dcfce7;
    color:#15803d;

}



.low-stock{


    background:#fef3c7;
    color:#b45309;

}



.out-stock{


    background:#fee2e2;
    color:#b91c1c;

}






/* ===============================
   Modal Styling
================================ */


.modal-content{


    border:none;
    border-radius:20px;
    overflow:hidden;


}



.modal-header{


    background:#7c3aed;
    color:white;

}



.modal-header .btn-close{


    filter:brightness(0) invert(1);

}




.modal-body{


    padding:30px;

}



.form-control{


    border-radius:12px;
    padding:12px;

}



.form-control:focus{


    border-color:#7c3aed;
    box-shadow:0 0 0 0.2rem rgba(124,58,237,.15);

}





.modal-body button{


    background:#7c3aed;
    border:none;
    padding:12px;
    border-radius:12px;

}



.modal-body button:hover{


    background:#6d28d9;

}







/* ===============================
   Responsive Design
================================ */


@media(max-width:768px){


.dashboard-header{


    flex-direction:column;
    gap:20px;
    align-items:flex-start!important;

}



.summary-card{


    margin-bottom:15px;

}



>>>>>>> f3b2bc90ea3fb5a137f9296901058b59c4a16e73
}