<!-- <div class="sidebar" id="sidebar">
  <h3>MENU</h3>

  <ul>
    <li><a href="../index.html">🏠 Dashboard</a></li>
    <li><a href="../pages/sales.html">💰 Sales</a></li>
    <li><a href="../pages/expense.html">💸 Expense</a></li>
    <li><a href="../pages/profit.html">📈 Profit</a></li>
    <li><a href="../pages/shope.html">🛍️ Shope</a></li>
    <li><a href="../pages/stock.html">📦 Inventory</a></li>
    <li><a href="../pages/alarm.html">🚨 Alarm</a></li>
    <li><a href="../pages/users.html">👥 User</a></li>
    <li><a href="../pages/loan.html">📈 Loan</a></li>
    <li><a href="../pages/setting.html">⚙️ Setting</a></li>
  </ul>
</div> -->

<!-- for github only -->
<div class="sidebar" id="sidebar">
  <h3>MENU</h3>
  <ul>
    <li><a href="/inventory/index.html">🏠 Dashboard</a></li>
    <li><a href="/inventory/pages/sales.html">💰 Sales</a></li>
    <li><a href="/inventory/pages/expense.html">💸 Expense</a></li>
    <li><a href="/inventory/pages/profit.html">📈 Profit</a></li>
    <li><a href="/inventory/pages/shope.html">🛍️ Shope</a></li>
    <li><a href="/inventory/pages/stock.html">📦 Inventory</a></li>
    <li><a href="/inventory/pages/alarm.html">🚨 Alarm</a></li>
    <li><a href="/inventory/pages/users.html">👥 User</a></li>
    <li><a href="/inventory/pages/loan.html">📈 Loan</a></li>
  </ul>
</div>
